.header{
    width: 1100px;
    height: 100px;
    background-color: red;
}
.main{
    width: 500px;
    background-color: burlywood;
    height: 900px;
}
.group
{
    display: flex;
    flex-direction: row;
    
}
.footer{
    width: 800px;
    height: 100px;
    background-color: blue;

}
input{


background-color: red;
}